<!DOCTYPE html>
<html>
<head>
  <title>Easygift</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- This is where the erorr messages show up.  Like if you give the incorrect login -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <!-- 
  This is the important bit.  This where all the page content will be inserted.  So the 
  meat of the page.  See the sample.layout.erb for an example of another site's layout file.

  we'll have two layouts once we get started.  One for the login page and another
  that's for the whole site.  You'll see as we get going.  

   -->
  <%= yield %>

</body>
</html>
