<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Tiki</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :cache => true %>
  <%= csrf_meta_tag %>
<style>
  
  #login-container{
    width:400px; 
    height: 300px;
    margin:0 auto; 
    margin-top: 75px;
    border: 1px solid;
    border-color: #bbb;
    background-color: #fff;
  }

  #login-content{
    text-align: left;
    width: 400px;
    margin:0 auto; 
  }

  #login-txt {
    padding: 0px;
    width: 360px;
    height: 260px;
    margin:0 auto; 
    margin-top: 15px;
  }

  #login-field input {
    font-size: 130%;
  }

  #login-container a:link, #login-container a:visited {
    font-size: 90%;
    text-decoration: none;
  }

  #login-container a:hover, #login-container a:active {
    font-size: 90%;
    text-decoration: underline;
  }

</style>
  
</head>

<body>
  <div id="main-container">
    <div id="header">
      <div id="logo"></div>
      <div id="mast-container">
        <div id="secondary">&nbsp;</div>
        <div id="title"></div>
        <div id="nav-container">
        </div>
      </div>
      <div id="sub-nav">
        <div id="sub-links">
          <div class="small-text"></div></div>
      </div>
    </div>
    <div id="main-content-container">
      <div id="l-shadow"></div>
      <div id="content">
        <%= flash_messages %>
        <div id="login-container">
          <div id="login-content">
            <div id="login-txt">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div id="r-shadow"></div>
    </div>
  </div>
</body>
</html>
